<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="node_modules/shoppingapp/ProductApi.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<style>
    h1 {
        text-align: center;
    }

    form {
        text-align: center;
    }

    /* label.userId {
        padding: 10px;
    } */

    /* div {
        text-align: center;
        margin-left: 20px;
        color: red;
    } */

    /* body {
        background-image: url("https://image.freepik.com/free-photo/shopping-cart-yellow-background-minimalism-style-shop-trolley-supermarket-sale-discount-shopaholism-concept-consumer-society-trend_80743-2181.jpg");
    } */
</style>

<body>
    <h1>Change Password</h1>
    <div id="message"></div>
    <br>
    <form id="form">
        <label class="oldPassword">Old Password</label>
        <input type="text" id="oldPassword" placeholder="Enter Old Password" required>
        <br>
        <br>
        <label>New Password</label>
        <input type="text" id="newPassword" placeholder="Enter Old Password" required>
        <br>
        <br>
        <button id="submitBtn"> Update </button>
        <button onclick="reset()" value="Reset">Clear</button>
    </form>

    <script>


        function password(oldPassword, newPassword) {
            let loggedInUser = JSON.parse(localStorage.getItem("LOGGED_IN_USER"));
            let loggedInUserId = loggedInUser.id;
            let Password = { loggedInUserId: loggedInUserId, oldPassword: oldPassword, newPassword: newPassword };
            let url = "https://shopping-app-rest-api.herokuapp.com/api/changeUserPassword";
            // let url = "http://localhost:3000/api/changeUserPassword";
            axios.put(url, Password).then(response => {
                let password = response.data;
                console.log(password);
                toastr.success("Password Successfully Changed");

            }).catch(err => {
                console.log(err, "error message")
                let error = err.response.data.message;
                toastr.error(error);
            });
        }

        function updatePassword() {
            let oldPassword = document.querySelector("#oldPassword").value;
            let newPassword = document.querySelector("#newPassword").value;
            password(oldPassword, newPassword);
        }

        document.querySelector("#submitBtn").addEventListener('click', event => {
            event.preventDefault();
            updatePassword();
        })

        function reset() {
            document.getElementById("form").reset();
        }

    </script>
</body>

</html>